

<!doctype html>
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="de"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="de"> <!--<![endif]-->
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>Santander BestCredit - BestCredit - Startseite Affiliate Aktion</title>
<meta name="description" content="Sie haben einen Kaufwunsch, aber das nötige Kleingeld fehlt Ihnen zurzeit? Der Santander BestCredit verschafft Ihnen den nötigen Freiraum und das zu einer niedrigen monatlichen Rate.">
<meta name="viewport" content="width=device-width,initial-scale=1" />
<meta name="robots" content="NOINDEX, NOFOLLOW">
<!--[if IE]><![endif]-->
<link rel="stylesheet" href="../../media/css/screen.css">
<link rel="stylesheet" href="../../media/css/screen_hp.css">
<script type="text/javascript" src="../../media/js/vendor/modernizr.js"></script>
<!-- Plain old JQ with legacy fallback --> 
<!--[if lt IE 9]>
    <script type="text/javascript" src="../../media/js/vendor/jquery-1111.js"></script>
<![endif]-->
<!--[if gte IE 9]><!-->
    <script type="text/javascript" src="../../media/js/vendor/jquery-1102.js"></script>
<!--<![endif]-->
<script type="text/javascript" src="../../media/js/vendor/velocity.js"></script>
<script type="text/javascript" src="../../media/js/vendor/jquery-uimin.js"></script>
<script type="text/javascript" src="../../media/js/vendor/jqueryuitouch-punchmin.js"></script>
<script type="text/javascript" src="../../media/js/vendor/jquerytooltipstermin.js"></script>
<script type="text/javascript" src="../../media/js/vendor/magnific-popup.js"></script> 
<script type="text/javascript" src="../../media/js/vendor/cookie.js"></script>
<script type="text/javascript" src="../../media/js/cc-libsmin.js"></script>
<script type="text/javascript" src="../../media/js/cc-app.js"></script>
<script type="text/javascript" src="../../media/js/vendor/picturefill.js"></script>
<script type="text/javascript" src="../../media/js/functions.js"></script> 
<!-- iCrossing -->
<script src="https://affiliate.icrossing.de/trck/eref/?campaign_id=1"></script>
<!-- iCrossing end -->
<!-- Copyright (c) 2000-2014 etracker GmbH. All rights reserved. -->
<!-- This material may not be reproduced, displayed, modified or distributed -->
<!-- without the express prior written permission of the copyright holder. -->
<!-- etracker tracklet 4.0 -->
<script type="text/javascript">
var et_pagename     = "rechenmodul";
var et_areas        = "AFFILIATE_AKTION";
var et_target       = "SCB%2FRechenmodul";
var et_tval         = "";
var et_tonr         = "";
var et_tsale        = "";
</script>
<script id="_etLoader" type="text/javascript" charset="UTF-8" data-secure-code="x23eFx" src="//static.etracker.com/code/e.js"></script>
<noscript><link rel="stylesheet" media="all" href="//www.etracker.de/cnt_css.php?et=x23eFx&amp;v=4.0&amp;java=n&amp;et_easy=0&amp;et_pagename=rechenmodul&amp;et_areas=AFFILIATE_AKTION&amp;et_ilevel=0&amp;et_target=SCB%2FRechenmodul,0,0,0&amp;et_lpage=0&amp;et_trig=0&amp;et_se=0&amp;et_cust=0&amp;et_basket=&amp;et_url=&amp;et_tag=&amp;et_sub=&amp;et_organisation=&amp;et_demographic=" /></noscript>
<!-- etracker tracklet 4.0 end -->

<!-- Global site tag (gtag.js) - Google Ads: 1070442220 -->
<script async src="https://www.googletagmanager.com/gtag/js?id=AW-1070442220"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'AW-1070442220');
</script>

<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl+'&gtm_auth=3XnFRi_9Y1akUeaW7Kyy8w&gtm_preview=env-2&gtm_cookies_win=x';f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-PNMFR6S');</script>
<!-- End Google Tag Manager -->
 
</head>
<body id="ng-app" ng-app="rb.creditcalculator">

<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PNMFR6S&gtm_auth=3XnFRi_9Y1akUeaW7Kyy8w&gtm_preview=env-2&gtm_cookies_win=x"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

<div id="wrapper">	
	<header>
		<div class="metaheader">
	<div class="content-wrapper">
	
		
		<a href="index.asp?medium=Affiliate_9560&zanpid=11361_1543273963_07a50e0b4a0ff15b1c24fd137b5bdd82" title="BestCredit - So einfach wie einkaufen." class="left"><img src="../../media/img/toplogo_bestcredit.png" alt="BestCredit - So einfach wie einkaufen." title="BestCredit - So einfach wie einkaufen."></a>
		

		
		<a href="index.asp?medium=Affiliate_9560&zanpid=11361_1543273963_07a50e0b4a0ff15b1c24fd137b5bdd82" title="Santander BestCredit" class="right"><img src="../../media/img/toplogo_santander.png" alt="Santander BestCredit" title="Santander BestCredit"></a>
		
	</div>
</div>		
	</header>
	<section class="visual-stage" ng-controller="CreditCalculatorCtrl">
		
		<nav class="main">
	<div class="content-wrapper">
		<div class="navholder toggle-holder">			
			<div class="pulldown-main toggle mobileonly">BestCredit <img src="../../media/img/icon-arrow.svg" alt=" " class="svg"></div>
			<ul class="mainnav toggle-element">
					
				<li ng-class="{active: creditMode == 'newCredit'}" ng-hide="creditMode == 'replaceCredit' && enable_creditmode_change == false">
					<a href="javascript:void(0);" title="Neuer Kredit" ng-click="setModeToNewCredit()">Neuer Kredit</a>
				</li>
				<li ng-class="{active: creditMode == 'replaceCredit'}" ng-hide="creditMode == 'newCredit' && enable_creditmode_change == false">
					<a href="javascript:void(0);" title="Bestehenden Kredit ablösen" ng-click="setModeToCreditReplace()">Bestehenden Kredit ablösen</a>
				</li>	
			</ul>		
		</div>		
	</div><!-- // content-wrapper -->	
</nav>	
		<!--Mögliche Zusatzklassen:
<div class="stage-inner [stage-sub] [calculator] [keyvisual-top] [keyvisual-left]">
[stage-sub] geringere Höhe
[keyvisual-top] Bildausrichtung oben
[keyvisual-left] Bildausrichtung links
[calculator] dann setzen wenn der Rechner hier angezeigt wird
-->
<div class="stage-inner calculator visualright">

	<picture>									
		<!--[if IE 9]><video style="display: none;"><![endif]-->
		<source srcset="../../media/img/visual_standard_M.jpg 1x, ../../media/img/visual_standard_XL.jpg 2x" media="(max-width: 1024px)">				
		<source srcset="../../media/img/visual_standard_L.jpg" media="(min-width: 1025px)"> 
		<source srcset="../../media/img/visual_standard_L.jpg">
		<!--[if IE 9]></video><![endif]-->			
		<!--[if gte IE 8]><!-->
			<img srcset="../../media/img/visual_standard_L.jpg" alt=" " class="keyvisual">
		<!--<![endif]-->
	</picture>

	<div class="fade"></div>
	<div class="content-wrapper">
		<div class="stoerer leftbottom">
			<div class="inner">
				<div class="cramp cramp_tl"></div>
				<div class="cramp cramp_tr"></div>
				<p>Freiheit f&uuml;r Ihre W&uuml;nsche.<br>Der schnelle BestCredit.</p>
				<div class="cramp cramp_bl"></div>
				<div class="cramp cramp_br"></div>
			</div>
			<div class="subline">
				<strong>
					<em>ab</em> 2,69<span>%</span>
				</strong>
				<span class="info">effektiver<br>Jahreszins ¹</span>
			</div>
            <!--
            <div class="footnote">
                <p>
                    ¹ Nettodarlehensbetrag von 1.000 € bis 60.000 €; effektiver Jahreszins von 2,69 % bis 7,95 %; fester Sollzinssatz von 2,656 % bis 7,684 % p.a.; Laufzeit von 12 bis 96 Monaten; monatliche Rate von 84,54 € bis 5.210,27 €; Gesamtbetrag von 1.014,45 € bis 80.476,79 €; Bonität vorausgesetzt.
                    <br><b>Repräsentatives Beispiel gemäß § 6a Abs. 4 PAngV:</b> Nettodarlehensbetrag von 3.000,00 €, effektiver Jahreszins 2,690 %, fester Sollzinssatz 2,656 % p.a., Laufzeit 36 Monate, 36 monatliche Raten à 86,94 €, Gesamtbetrag 3.129,84 €. Ein Angebot der Santander Consumer Bank (Darlehensgeber), Santander-Platz 1, 41061 Mönchengladbach.
                </p>
            </div>
            -->
		</div>
		<div class="modul rechner-holder">
	<div class="rechner rounded teaser-calculator" ng-class="creditMode=='newCredit' ? 'newcredit' : 'replacecredit'">
		<div class="main_start_inner">
			<div class="kreditrechner" ng-controller="SliderPanelCtrl"> 				
				<div class="kreditrechner_inner">
				<form method="post" autocomplete="off" name="bestcreditform" action="/order/manager.pl" ng-submit="checksubmit($event)">
					<ul>
						<li class="calculator-col dragger dragger_akt"> 
							<span class="label col-headline">[[creditMode === 'newCredit' ? "Wunschkredit" : "Restbetrag alter Kredit"]]</span>
							<span class="value t-field" id="credit_value" ng-cloak>[[ credit.amount|currency:'' ]] <span>&euro;</span></span>
							<div class="clear"></div>
							<div class="dragger_outer slider-wrapper" ng-cloak> 
								<span class="dragger_selection slider" ng-style="dragger.amount.style"></span> 
								<span class="dragger_main"
									slider
									ng-model="credit.amount"
									stickiness="100"
									floor="[[ config.amount.min ]]"
									ceiling="[[ config.amount.max ]]"
									step="[[ config.amount.step ]]">
								</span> 
							</div>
						</li>
						<li class="calculator-col dragger" ng-class="{'dragger_akt': !useCustom}"> 
							<span class="label col-headline">[[creditMode === 'newCredit' ? "Wunschlaufzeit" : "Restlaufzeit alter Kredit"]]</span>
							<span class="value t-field" id="runtime_value" ng-cloak>[[ credit.runtime ]] <span>Monate</span></span>
							<div class="clear"></div>
							<div class="dragger_outer slider-wrapper" id="dragger_runtime_outer" ng-show="!useCustom" ng-cloak> 
								<span class="dragger_selection slider" ng-style="dragger.runtime.style"></span> 
								<span class="dragger_main"
									  slider
									  ng-model="dragger.runtime.index"
									  ng-disabled="useCustom"
									  stickiness="100"
									  floor="0"
									  ceiling="[[ config.runtime.values.length - 1 ]]"
									  step="1"
									  translate-fn="getRuntimeForIndex">
								</span> 
							</div>
						</li>
						<li class="calculator-col monatliches_einkommen" ng-show="income_dependent">
							<div class="col-headline label">Ihr Nettoeinkommen</div>
							<div class="input-row">
								<input id="input-netto-einkommen" class="textfield" value="" ng-class="{ 'emptyborder': incomeEmptyBorder}" type="number" pattern="[0-9]*" inputmode="numeric" name="netto-einkommmen" min="0" ng-model="credit.incomeText" ng-focus="hideIncomeMessages()" ng-blur="evaluateIncomeWarning()" ng-cloak />
								<label for="input-netto-einkommen" ng-show="incomeEmptyMessage">Zur Berechnung bitte angeben</label>
								<p>€ / Monat</p>
							</div>
						</li>
						<div class="calculator-col calculator-col-result monatliche_rate">
							<div class="result">
								<div class="col-headline">[[creditMode === 'newCredit' ? "Monatliche Rate" : "Neue mtl. Rate"]]</div>
								<p id="month-cash" class="t-field">
									<span class="textfield" ng-show="rateVisible"> <span class="value" id="monatliche-rate-html" ng-show="rateVisible" ng-cloak>[[ credit.rate|currency:'' ]]</span></span> <em>€</em>
								</p>												
							</div>
							<div class="check" ng-show="show_paypause">
								<input type="checkbox" ng-model="paypause" ng-true-value="true" ng-false-value="false" id="paypause" name="paypause">
								<label for="paypause">1. Rate erst in 90 Tagen</label>
							</div>
							<div ng-controller="ResultsCtrl">								
									<input type="submit" class="button cta" title="BestCredit beantragen!" alt="BestCredit beantragen!" value="Jetzt beantragen">
									<input type="hidden" name="Kreditbetrag"       value="[[ credit.amount ]]"/>
									<input type="hidden" name="Festzinsen"         value="[[ credit.rows[credit.runtime].fixedRateOfInterest ]]"/>
									<input type="hidden" name="Bearbeitungskosten" value="[[ credit.rows[credit.runtime].handlingCharges ]]"/>
									<input type="hidden" name="Gesamtkreditbetrag" value="[[ credit.rows[credit.runtime].total ]]"/>
									<input type="hidden" name="Laufzeit"           value="[[ credit.runtime ]]"/>
									<input type="hidden" name="Zinssatz"           value="[[ credit.rows[credit.runtime].interestPerAnnum ]]"/>
									<input type="hidden" name="Sollzinssatz"       value="[[ credit.rows[credit.runtime].interestOnDebit ]]"/>
									<input type="hidden" name="Rate"               value="[[ credit.rows[credit.runtime].rate ]]"/>
									<!--<input type="hidden" name="Wunschrate"         value="[[ credit.rate ]]"/>-->
									<input type="hidden" name="Nettoeinkommen"     value="[[ credit.income ]]"/>
									<input type="hidden" name="ERD"                value="[[ credit.startDate ]]"/>
									<input type="hidden" name="LaufzeitMinimum"    value="[[ config.runtime.values[0] ]]"/>
									<input type="hidden" name="LaufzeitMaximum"    value="[[ config.runtime.values[config.runtime.values.length - 1] ]]"/>
									<input type="hidden" name="medium" value="Affiliate_9560"/>
									<input type="hidden" name="zanpid" value="11361_1543273963_07a50e0b4a0ff15b1c24fd137b5bdd82"/>
									<input type="hidden" name="mlid" value=""/>
									<input type="hidden" name="condition" value="[[ condition ]]"/>
									<input type="hidden" name="creditmode" value="[[ creditMode ]]"/>
									<input type="hidden" name="prozess" value="SCB"/>
									<input type="hidden" name="theme" value="hp"/>								
							</div>
						</div>				
						<div id="monatliche-rate-error" class="error" ng-show="error.minimum || error.maximum" style="display: block" ng-cloak> <span ng-show="error.minimum" ng-cloak>Die Rate liegt unter dem Minimum für diesen Kreditbetrag.</span> <span ng-show="error.maximum" ng-cloak>Die Rate liegt über dem Maximum für diesen Kreditbetrag.</span> </div>				
					</ul>
				</form>
				</div>				
			</div>
		</div>
	</div>
	<!--rechner--> 
</div>
<!--rechner-holder-->
	</div>	
</div><!--stage-inner--> 		  
	</section> 
    

<div class="footnote">
<div class="content-wrapper">
                <p>
                    ¹ Nettodarlehensbetrag von 1.000 € bis 60.000 €; effektiver Jahreszins von 2,69 % bis 7,95 %; fester Sollzinssatz von 2,656 % bis 7,684 % p.a.; Laufzeit von 12 bis 96 Monaten; monatliche Rate von 84,54 € bis 5.210,27 €; Gesamtbetrag von 1.014,45 € bis 80.476,79 €; Bonität vorausgesetzt.
                    <br><b>Repräsentatives Beispiel gemäß § 6a Abs. 4 PAngV:</b> Nettodarlehensbetrag von 3.000,00 €, effektiver Jahreszins 2,690 %, fester Sollzinssatz 2,656 % p.a., Laufzeit 36 Monate, 36 monatliche Raten à 86,94 €, Gesamtbetrag 3.129,84 €. Ein Angebot der Santander Consumer Bank (Darlehensgeber), Santander-Platz 1, 41061 Mönchengladbach.
                </p>  
</div>
</div>

	<div role="main" id="main"> 		
		
<div class="teaser_maininfo">
	<div class="content-wrapper">
		<div class="col left">
			<ul class="arrowlist">
				
					
<li><img src="../../media/img/icon-check.svg" alt=" " class="svg">Gr&ouml;&szlig;ere Anschaffungen leicht bew&auml;ltigen</li>    
				
					
<li><img src="../../media/img/icon-check.svg" alt=" " class="svg">Gleichbleibend g&uuml;nstige Monatsraten</li>    
				
					
<li><img src="../../media/img/icon-check.svg" alt=" " class="svg">Fester Zinssatz f&uuml;r die Gesamtlaufzeit</li>    
				
				
				
				<li class="awards">
					<img src="../../media/img/awards.png" alt="Santander Auszeichnungen" title="Santander Auszeichnungen">
				</li>
				
			</ul>
		</div>
		<div class="col right">
			<div class="headline-2">So einfach geht's</div>
			<p class="copy">Jeden Tag sichern sich Menschen mit dem Santander BestCredit die Flexibilit&auml;t, die sie im Leben f&uuml;r ihre pers&ouml;nlichen W&uuml;nsche, Tr&auml;ume und Herausforderungen brauchen. Der erste Schritt zum g&uuml;nstigen Online Kredit ist der Antrag &ndash; garantiert verst&auml;ndlich und ohne Kleingedrucktes. Unsere Bankberater pr&uuml;fen Ihren Antrag pers&ouml;nlich und leiten sofort die n&auml;chsten Schritte ein. So kommen Sie schnell und seri&ouml;s an Ihr Geld.</p>
			<div class="bulb"><img src="../../media/img/icon-bulb.svg" alt=" " class="svg"></div>
			<ul class="numberlist">
				
					
<li><i title="1">1</i>Berechnen Sie Ihren pers&ouml;nlichen Wunschkredit.</li>    
				
					
<li><i title="2">2</i>Geben Sie nun Ihre pers&ouml;nlichen Daten ein.</li>    
				
					
<li><i title="3">3</i>Sie erhalten unverz&uuml;glich alle Unterlagen per Post.</li>    
				
					
<li><i title="4">4</i>Senden Sie den unterschriebenen Kreditvertrag mit den angeforderten Unterlagen an uns zur&uuml;ck.</li>    
				
					
<li><i title="5">5</i>Anschlie&szlig;end werden wir den Geldbetrag auf das von Ihnen angegebene Konto &uuml;berweisen.</li>    
				
			</ul>
		</div>
	</div>	
	
	<div class="back">
		<div class="left"></div>
		<div class="right"></div>
	</div>
</div>
<div class="modul_video">
	<div class="inner">
		<img src="../../media/img/visual_video.jpg" alt=" " class="keyvisual">
		<div class="content-wrapper">
			<div class="headline-2">Video: BestCredit &ndash; In 2 Minuten erkl&auml;rt</div>
			<a href="#video-1" class="playbutton magnific_inline"><img src="../../media/img/icon-play.svg" alt="Play" class="svg"></a>
		</div>
	</div>
	<!-- For Mobile Ansicht-->
	<div class="iframe_holder">
		<video controls poster="../../media/img/video_poster.jpg">
			<source src="../../media/video/bestcredit.mp4" type="video/mp4" />
		</video>
	</div>
</div>
<div class="video_overlay mfp-hide" id="video-1">
	<video controls poster="../../media/img/video_poster.jpg">
		<source src="../../media/video/bestcredit.mp4" type="video/mp4" />
	</video>
</div>
<div class="modul_faq" style="background-color:#ddd">
	<div class="content-wrapper">
		<div class="headline-2">H&auml;ufig gestellte Fragen</div>
		<div class="accordion">
			
				
<div class="item">
	<h3>Welche Voraussetzungen muss ich f&uuml;r einen Kreditantrag erf&uuml;llen?<img src="../../media/img/icon-arrow.svg" alt="Welche Voraussetzungen muss ich f&uuml;r einen Kreditantrag erf&uuml;llen?" class="svg"></h3>
	<div class="content">
		<p>Voraussetzung f&uuml;r die Aufnahme eines Kredites ist ein ausreichendes Arbeits- oder Renteneinkommen. Dar&uuml;ber hinaus d&uuml;rfen keine negativen Merkmale in Ihrer Schufa-Auskunft eingetragen sein.</p>
		<i></i>
	</div>
</div>    
			
				
<div class="item">
	<h3>Ich habe per Post ein Angebot erhalten. Ist auch ein davon abweichender Kreditwunsch m&ouml;glich?<img src="../../media/img/icon-arrow.svg" alt="Ich habe per Post ein Angebot erhalten. Ist auch ein davon abweichender Kreditwunsch m&ouml;glich?" class="svg"></h3>
	<div class="content">
		<p>Selbstverst&auml;ndlich k&ouml;nnen Sie auch einen davon abweichenden Kreditwunsch in Anspruch nehmen. Vermerken Sie dazu einfach den gew&uuml;nschten Betrag, die Laufzeit oder die Ratenh&ouml;he auf dem Antwortcoupon. Alternativ pr&uuml;fen unsere Mitarbeiter gerne Ihre Anfrage telefonisch unter der Rufnummer <b>02161 - 90 60 154</b>.</p>
		<i></i>
	</div>
</div>    
			
				
<div class="item">
	<h3>Ich w&uuml;nsche eine Kreditaufstockung. K&ouml;nnen Sie mir ein Angebot hierzu machen?<img src="../../media/img/icon-arrow.svg" alt="Ich w&uuml;nsche eine Kreditaufstockung. K&ouml;nnen Sie mir ein Angebot hierzu machen?" class="svg"></h3>
	<div class="content">
		<p>Vorraussetzung f&uuml;r die Aufstockung eines Kredites ist ein Arbeits- oder Renteneinkommen. Bitte nutzen Sie f&uuml;r die Aufstockung Ihres Kredites unseren BestCredit Onlineantrag. Alternativ stehen Ihnen unsere Mitarbeiter unter der Rufnummer <b>02161 - 90 60 154</b> zur Verf&uuml;gung.</p>
		<i></i>
	</div>
</div>    
			
				
<div class="item">
	<h3>Kann ich bestehende Kredite bei anderen Banken abl&ouml;sen oder umschulden?<img src="../../media/img/icon-arrow.svg" alt="Kann ich bestehende Kredite bei anderen Banken abl&ouml;sen oder umschulden?" class="svg"></h3>
	<div class="content">
		<p>Ja. Wir bieten Ihnen attraktive und unkomplizierte M&ouml;glichkeiten, mit unserer BestCredit Top-Kondition bestehende Finanzierungen bei anderen Banken bequem zusammen zu fassen. Durch niedrigere monatliche Raten verschaffen Sie sich so finanzielle Freiheit.</p><p>Geben Sie bei der Beantragung des BestCredit einfach den Begriff <b>Umschuldung als Verwendungszweck</b> an oder lassen Sie sich unter <b>02161 - 90 60 154</b> pers&ouml;nlich beraten.</p>
		<i></i>
	</div>
</div>    
			
				
<div class="item">
	<h3>Welche Unterlagen werden f&uuml;r die Beantragung eines Kredites ben&ouml;tigt?<img src="../../media/img/icon-arrow.svg" alt="Welche Unterlagen werden f&uuml;r die Beantragung eines Kredites ben&ouml;tigt?" class="svg"></h3>
	<div class="content">
		<p>Wir ben&ouml;tigen mindestens folgende Unterlagen:</p><p>
<ol><li>Kopien der letzten drei Verdienstbescheinigungen</li><li>Sofern Nebeneinkommen vorhanden entsprechende Nachweise inkl. Kontoauszug</li><li>Unterschriebenen Kreditvertrag</li><li>Einreichung der Unterlagen via PostIdent-Verfahren bei der Deutschen Post</li><li>Alternativ zum PostIdent-Verfahren ist eine Identifikation auch via <a href="../hp/videoid.asp"  title="VideoID">VideoID</a> m&ouml;glich. </li></ol></p>
		<i></i>
	</div>
</div>    
			
				
<div class="item">
	<h3>Was ist die CleverCard und wie funktioniert sie?<img src="../../media/img/icon-arrow.svg" alt="Was ist die CleverCard und wie funktioniert sie?" class="svg"></h3>
	<div class="content">
		<p>Die CleverCard ist eine kostenlose und geb&uuml;hrenfreie Maestro-Karte, die Ihnen die Verf&uuml;gung &uuml;ber einen einger&auml;umten Verf&uuml;gungsrahmen bei allen ec-/Maestro-Akzeptanzstellen (z. B. beim Einkaufen, an der Tankstelle, Geldautomaten) erm&ouml;glicht. Geldautomaten-Verf&uuml;gungen sind dar&uuml;ber hinaus kostenfrei an &uuml;ber 3.000 Geldautomaten des CashPool-Verbundes m&ouml;glich. Detaillierte Informationen zur CleverCard finden Sie auf unserer Internetseite unter <a href="https://www.santander.de/clevercard/" target="_blank"  title="www.santander.de/clevercard">www.santander.de/clevercard</a>.</p>
		<i></i>
	</div>
</div>    
			
				
<div class="item">
	<h3>Wie funktioniert das PostIdent-Verfahren und warum wird es ben&ouml;tigt?<img src="../../media/img/icon-arrow.svg" alt="Wie funktioniert das PostIdent-Verfahren und warum wird es ben&ouml;tigt?" class="svg"></h3>
	<div class="content">
		<p>Bei dem PostIdent-Verfahren handelt es sich um eine Best&auml;tigung Ihrer Identit&auml;t durch die Deutsche Post. Zum einen sind wir als Bank gesetzlich verpflichtet, die Identit&auml;t von Kontoantragstellern zu &uuml;berpr&uuml;fen, zum anderen dient das PostIdent-Verfahren aber auch Ihrer Sicherheit, damit niemand auf Ihren Namen ein Konto er&ouml;ffnen kann. Sie k&ouml;nnen das PostIdent-Verfahren kostenlos in jeder Post-Filiale durchf&uuml;hren. Bitte legen Sie dazu einfach den mit den Kreditunterlagen zur Verf&uuml;gung gestellten PostIdent-Coupon zusammen mit Ihrem Personalausweis oder Reisepass vor.</p>
		<i></i>
	</div>
</div>    
			
				
<div class="item">
	<h3>Wie funktioniert das VideoID-Verfahren und warum wird es ben&ouml;tigt?<img src="../../media/img/icon-arrow.svg" alt="Wie funktioniert das VideoID-Verfahren und warum wird es ben&ouml;tigt?" class="svg"></h3>
	<div class="content">
		<p>Bei der erstmaligen Beantragung eines Darlehens wird eine Legitimation des Kunden ben&ouml;tigt. Der Kunde kann zwischen einer Legitimation per VideoID oder per PostIdent Verfahren w&auml;hlen. VideoID erm&ouml;glicht dem Kunden eine einfache und bequeme Identifikation von zu Hause oder unterwegs, mit Hilfe des eigenen PCs, Tablets oder Smartphones. Neben dem Identit&auml;tscheck (Pr&uuml;fung des Ausweises) &uuml;berpr&uuml;ft Ihr Gespr&auml;chspartner verschiedene Sicherheitsaspekte. Voraussetzung f&uuml;r eine erfolgreiche Pr&uuml;fung sind ein g&uuml;ltiger deutscher Personalausweis oder Reisepass, eine stabile Internetverbindung und ein aktueller Internetbrowser (z.B. Firefox, Chrome, Opera) oder alternativ ein Video-Telefonie-Programm wie z.B. Skype. Weitere Infos zur VideoID <a href="../hp/videoid.asp"  title="hier">hier</a>.</p>
		<i></i>
	</div>
</div>    
			
				
<div class="item">
	<h3>Wie lange dauert die Bearbeitung eines Onlinekredites bis zur Auszahlung des Geldes?<img src="../../media/img/icon-arrow.svg" alt="Wie lange dauert die Bearbeitung eines Onlinekredites bis zur Auszahlung des Geldes?" class="svg"></h3>
	<div class="content">
		<p>In der Regel werden Onlinekreditanfragen am gleichen Bankarbeitstag bearbeitet. Wenn Ihr Kreditantrag genehmigt wird, erhalten Sie innerhalb von 1-2 Werktagen per Post Ihre Kreditunterlagen. Sobald uns diese Kreditunterlagen unterschrieben mit allen anderen erforderlichen Unterlagen zur Verf&uuml;gung stehen, erfolgt nach abschlie&szlig;ender Pr&uuml;fung die &Uuml;berweisung des Auszahlungsbetrages auf Ihr Konto innerhalb weniger Werktage.</p>
		<i></i>
	</div>
</div>    
			
				
<div class="item">
	<h3>Warum bekomme ich bei Ihnen keinen Kredit?<img src="../../media/img/icon-arrow.svg" alt="Warum bekomme ich bei Ihnen keinen Kredit?" class="svg"></h3>
	<div class="content">
		<p>Jeder Kreditantrag wird in unserem Hause manuell durch einen unserer Kreditberater gepr&uuml;ft. Der Pr&uuml;fung liegen dabei bankinterne Annahmerichtlinien zugrunde. Wir bitten um Verst&auml;ndnis, dass wir diese Pr&uuml;fkriterien nicht offenlegen k&ouml;nnen.</p>
		<i></i>
	</div>
</div>    
			
				
<div class="item">
	<h3>Kann ich Zwischenzahlungen auf meinen laufenden Kredit einzahlen?<img src="../../media/img/icon-arrow.svg" alt="Kann ich Zwischenzahlungen auf meinen laufenden Kredit einzahlen?" class="svg"></h3>
	<div class="content">
		<p>Sie haben jederzeit die M&ouml;glichkeit Sonderzahlungen zu leisten. Mit einer Sonderzahlung k&ouml;nnen Sie die Laufzeit verk&uuml;rzen oder die urspr&uuml;nglich vereinbarte Ratenh&ouml;he reduzieren.</p>
		<i></i>
	</div>
</div>    
			
				
<div class="item">
	<h3>Sie haben mir eine E-Mail oder einen Brief geschickt, dass Sie R&uuml;ckfragen zu meiner Person haben. Welche Angaben fehlen Ihnen?<img src="../../media/img/icon-arrow.svg" alt="Sie haben mir eine E-Mail oder einen Brief geschickt, dass Sie R&uuml;ckfragen zu meiner Person haben. Welche Angaben fehlen Ihnen?" class="svg"></h3>
	<div class="content">
		<p>Bitte melden Sie sich unter der in der E-Mail oder auf dem Anschreiben genannten Rufnummer bei dem f&uuml;r Sie zust&auml;ndigen Mitarbeiter unseres Hauses, damit wir eine schnelle Weiterbearbeitung Ihres Antrages gew&auml;hrleisten k&ouml;nnen. Alternativ stehen Ihnen unsere Mitarbeiter unter der Rufnummer <b>02161 - 90 60 154</b> zur Verf&uuml;gung.</p>
		<i></i>
	</div>
</div>    
			
	</div><!-- //accordion -->
	
		
		
		
		
	</div><!-- //content-wrapper -->
</div>


	</div>
	<footer>
		<div class="content-wrapper">			
<a href="/de/affiliate_aktion/videoid.asp?medium=Affiliate_9560&zanpid=11361_1543273963_07a50e0b4a0ff15b1c24fd137b5bdd82" title="VideoID">VideoID</a>
<a href="/de/affiliate_aktion/bestpreis.asp?medium=Affiliate_9560&zanpid=11361_1543273963_07a50e0b4a0ff15b1c24fd137b5bdd82" title="BestPreis">BestPreis</a>    
<a href="/de/affiliate_aktion/angebotsbeispiel.asp?medium=Affiliate_9560&zanpid=11361_1543273963_07a50e0b4a0ff15b1c24fd137b5bdd82" title="Angebotsbeispiel">Angebotsbeispiel</a>    
<a href="/de/affiliate_aktion/ueber_uns.asp?medium=Affiliate_9560&zanpid=11361_1543273963_07a50e0b4a0ff15b1c24fd137b5bdd82" title="&Uuml;ber uns">&Uuml;ber uns</a>    
<a href="https://www.santander.de/privatkunden/service-kontakt/kredit-online-services/warenkredit-oder-barkredit/" target="_blank" title="Kontakt">Kontakt</a>   
<a href="/de/affiliate_aktion/datenschutz.asp?medium=Affiliate_9560&zanpid=11361_1543273963_07a50e0b4a0ff15b1c24fd137b5bdd82" title="Datenschutzhinweise">Datenschutzhinweise</a>    
<a href="/de/affiliate_aktion/impressum.asp?medium=Affiliate_9560&zanpid=11361_1543273963_07a50e0b4a0ff15b1c24fd137b5bdd82" title="Impressum">Impressum</a>    
		</div>
	</footer>
</div>
<script type="text/javascript">
	(function(window, document, undefined) {

		angular.module('rb.creditcalculator.services').
		constant('config', {
			files: {
				staticData: {
					path: '/data/${condition}/${condition}-lz.js',
//					path: 'js/vendor/data_new.js',
					key: {
						values: 'credit_values',
						startDate: 'date_start'
					}
				},
				customData: {
					path: '/data/${condition}/${condition}-wr-${amount}.js'
//					path: 'js/vendor/data_new.js'
				},
				columns: [
					'interestPerAnnum',
					'interestOnDebit',
					'fixedRateOfInterest',
					'handlingCharges',
					'rate'
				]
			},
			condition: 'AFFILIATE',
			condition_paypause: '90_AFFILIATE',
			condition_abloese: 'AFFILIATE',
			condition_abloese_paypause: '90_AFFILIATE',
			initialcreditmode: 'newCredit',
			income_dependent: 'False',
			income: '',
			income_dependent_abloese: 'False',
			show_paypause: 'True',
			show_paypause_abloese: 'True',
			enable_creditmode_change: 'False',
			amount: {
				min   : 1000,
				max   : 60000,
				step  : 500,
				init  : 3000
				
			},
			runtime: {
				values : [12, 18, 24, 36, 48, 60, 72, 84, 96],
				init   : 36
			},
			tableRows: 6
		});

	})(window, document);
</script>
<!-- 
../../media/template/bestcredit_hp.tmpl, 
../../media/img/antragsstrecke.jpg    
../../media/img/icon_info_footer.gif    
../../media/img/icon-arrow.svg    
../../media/img/icon-bulb.svg    
../../media/img/icon-check.svg    
../../media/img/icon-checkbox.svg    
../../media/img/icon-exit.svg    
../../media/img/icon-lock.svg    
../../media/img/icon-next-step.svg    
../../media/img/icon-phone.svg    
../../media/img/icon-play.svg    
../../media/js/vendor/picturefill.js    
../../media/js/includes_callback_form.js    
../../media/js/includes_form.js    
-->


<div id="cookiebar">
	<div class="content-wrapper">
		<div class="info">
			<strong>Verwendung von Cookies</strong>
			<p>
				Indem Sie unsere Website weiter besuchen, erklären Sie sich mit der Verwendung von Cookies einverstanden. Um mehr zu erfahren, lesen Sie bitte unsere <a href="datenschutz.asp?medium=Affiliate_9560&zanpid=11361_1543273963_07a50e0b4a0ff15b1c24fd137b5bdd82">Datenschutzhinweise</a>.	
			</p>
		</div>
		<div class="button">
			<a href="javascript:void(0)" class="button cta">Zustimmen</a>
		</div>
	</div>
</div>
</body>
</html>